[submodule "v-ui"]
	path = v-ui
	url = https://github.com/vlang/ui.git
[submodule "v-vlang-mcp"]
	path = v-vlang-mcp
	url = https://github.com/Nexlab-One/v-vlang-mcp.git
[submodule "python-vlang-mcp"]
	path = python-vlang-mcp
	url = https://github.com/Nexlab-One/python-vlang-mcp.git
